.nav{
    float:right;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.navbar{
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 88px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.navbar img{
    position: absolute;
    top: 24px;
    left: 62px;
    width: 119px;
    height: 40px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-link{
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n1 a:hover{
    color: #F9C745;
}
.n2 a:hover{
    color: #F9C745;
}
.n3 a:hover{
    color: #F9C745;
}
.n4 a:hover{
    color: #F9C745;
}
.n5:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
.n1{
    position: absolute;
    top: 34px;
    left: 786px;
    width: 32px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n1 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n2{
    position: absolute;
    top: 34px;
    left: 866px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n2 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n3{
    position: absolute;
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n3 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n4{
    position: absolute;
    top: 34px;
    left: 1090px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1;
}
.n4 a{
    list-style: none;
    text-decoration: none;
    color: #F9C745;
}
.n5{
    position: absolute;
    top: 26px;
    left: 1204px;
    width: 176px;
    height: 38px;
    border: 0px;
    text-decoration: none;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}
.n5 a{
    position: relative;
    top: 10px;
    left: 0px;
    width: 80px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.first img{
    position: absolute;
    top: 128px;
    left: 595px;
    width: 250px;
    height: 134px;
    background: transparent url('img/title02.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.second-hover span{
    position: absolute;
    top: 302px;
    left: 60px;
    width: 424px;
    height: 621px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
    opacity: 1;
}
.second-hover img{
    position: absolute;
    top: 302px;
    left: 60px;
    width: 424px;
    height: 424px;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover img:hover{
    opacity: 0;
}
.sh1{
    position: absolute;
    top: 756px;
    left: 84px;
    width: 90px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh2{
    position: absolute;
    top: 794px;
    left: 84px;
    width: 376px;
    height: 46px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh3{
    position: absolute;
    top: 882px;
    left: 252px;
    width: 40px;
    height: 25px;
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh3:hover{
    color: #F9C745;
}
.second-hover hr{
    position: absolute;
    top: 866px;
    left: 85px;
    width: 376px;
    height: 0px;
    border: 1px solid #ECECEC;
    opacity: 1;
}
.sh4{
    position: absolute;
    top: 756px;
    left: 532px;
    width: 90px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh5{
    position: absolute;
    top: 794px;
    left: 532px;
    width: 376px;
    height: 46px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh6{
    position: absolute;
    top: 882px;
    left: 700px;
    width: 40px;
    height: 25px;
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh6:hover{
    color: #F9C745;
}
.second-hover2 hr{
    position: absolute;
    top: 866px;
    left: 533px;
    width: 376px;
    height: 0px;
    border: 1px solid #ECECEC;
    opacity: 1;
}
.second-hover2 img{
    position: absolute;
    top: 302px;
    left: 508px;
    width: 424px;
    height: 424px;
    background: transparent url('img/04.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover2 img:hover{
    opacity: 0;
}
.second-hover2 span{
    position: absolute;
    top: 302px;
    left: 508px;
    width: 424px;
    height: 621px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
}
.sh7{
    position: absolute;
    top: 756px;
    left: 980px;
    width: 96px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh8{
    position: absolute;
    top: 794px;
    left: 980px;
    width: 376px;
    height: 46px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh9{
    position: absolute;
    top: 882px;
    left: 1148px;
    width: 40px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh9:hover{
    color: #F9C745;
}
.second-hover3 hr{
    position: absolute;
    top: 866px;
    left: 981px;
    width: 376px;
    height: 0px;
    border: 1px solid #ECECEC;
    opacity: 1;
}
.second-hover3 img{
    position: absolute;
    top: 302px;
    left: 956px;
    width: 424px;
    height: 424px;
    background: transparent url('img/08.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover3 img:hover{
    opacity: 0;
}
.second-hover3 span{
    position: absolute;
    top: 302px;
    left: 956px;
    width: 424px;
    height: 621px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
}
.sh10{
    position: absolute;
    top: 1401px;
    left: 84px;
    width: 90px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh11{
    position: absolute;
    top: 1439px;
    left: 84px;
    width: 376px;
    height: 46px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh12{
    position: absolute;
    top: 1527px;
    left: 252px;
    width: 40px;
    height: 25px;
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh12:hover{
    color: #F9C745;
}
.second-hover4 hr{
    position: absolute;
    top: 1511px;
    left: 85px;
    width: 376px;
    height: 0px;
    border: 1px solid #ECECEC;
    opacity: 1;
}
.second-hover4 img{
    position: absolute;
    top: 947px;
    left: 60px;
    width: 424px;
    height: 424px;
    background: transparent url('img/06.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover4 img:hover{
    opacity: 0;
}
.second-hover4 span{
    position: absolute;
    top: 947px;
    left: 60px;
    width: 424px;
    height: 621px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
}
.sh13{
    position: absolute;
    top: 1401px;
    left: 532px;
    width: 90px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh14{
    position: absolute;
    top: 1439px;
    left: 532px;
    width: 376px;
    height: 46px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh15{
    position: absolute;
    top: 1527px;
    left: 700px;
    width: 40px;
    height: 25px;
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh15:hover{
    color: #F9C745;
}
.second-hover5 hr{
    position: absolute;
    top: 1511px;
    left: 533px;
    width: 376px;
    height: 0px;
    /* UI Properties */
    border: 1px solid #ECECEC;
    opacity: 1;
}
.second-hover5 img{
    position: absolute;
    top: 947px;
    left: 508px;
    width: 424px;
    height: 424px;
    /* UI Properties */
    background: transparent url('img/07.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover5 img:hover{
    opacity: 0;
}
.second-hover5 span{
    position: absolute;
    top: 947px;
    left: 508px;
    width: 424px;
    height: 621px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
}
.sh16{
    position: absolute;
    top: 1401px;
    left: 980px;
    width: 96px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh17{
    position: absolute;
    top: 1439px;
    left: 980px;
    width: 376px;
    height: 46px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.sh18{
    position: absolute;
    top: 1527px;
    left: 1148px;
    width: 40px;
    height: 25px;
    text-align: center;
    font: normal normal bold 16px/25px Kalam;
    letter-spacing: 0px;
    text-decoration: none;
    color: #3A3A3A;
    opacity: 1;
}
.sh18:hover{
    color: #F9C745;
}
.second-hover6 hr{
    position: absolute;
    top: 1511px;
    left: 981px;
    width: 376px;
    height: 0px;
    border: 1px solid #ECECEC;
    opacity: 1;
}
.second-hover6 img{
    position: absolute;
    top: 947px;
    left: 956px;
    width: 424px;
    height: 424px;
    background: transparent url('img/05.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.second-hover6 img:hover{
    opacity: 0;
}
.second-hover6 span{
    position: absolute;
    top: 947px;
    left: 956px;
    width: 424px;
    height: 621px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
}
.p1{
    position: absolute;
    top: 1655px;
    left: 607px;
    width: 100px;
    height: 14px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 10px;
    opacity: 1;
}
.p2{
    position: absolute;
    top: 1655px;
    left: 700px;
    width: 22px;
    height: 32px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 10px;
    color: #F9C745;
}
.p3{
    position: absolute;
    top: 1655px;
    left: 670px;
    width: 250px;
    height: 32px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 10px;
    opacity: 1;
}
.footer hr{
    position: absolute;
    top: 1760px;
    left: 0.5px;
    width: 1440px;
    height: 0px;
    border: 3px solid #F9C745;
    opacity: 1;
}
.link01{
    position: absolute;
    top: 1808px;
    left: 232px;
    width: 200px;
    height: 127px;
    background: transparent url('img/link01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-1{
    position: absolute;
    top: 1815px;
    left: 456px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-2{
    position: absolute;
    top: 1853px;
    left: 456px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.contact{
    position: absolute;
    top: 1889px;
    left: 456px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.contact:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.link02{
    position: absolute;
    top: 1819px;
    left: 744px;
    width: 200px;
    height: 105px;
    background: transparent url('img/link02.png') 0% 0% no-repeat padding-box;
    border-radius: 53px;
    opacity: 1;
}
.footer-3{
    position: absolute;
    top: 1815px;
    left: 968px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-4{
    position: absolute;
    top: 1853px;
    left: 968px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.feed{
    position: absolute;
    top: 1891px;
    left: 968px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.feed:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.footer span{
    position: absolute;
    top: 1985px;
    left: -2px;
    width: 1444px;
    height: 70px;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer span a{
    position: relative;
    top: 25px;
    left: 590px;
    width: 328px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}