.nav{
    float:right;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.navbar{
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 88px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.navbar img{
    position: absolute;
    top: 24px;
    left: 62px;
    width: 119px;
    height: 40px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-link{
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n1 a:hover{
    color: #F9C745;
}
.n2 a:hover{
    color: #F9C745;
}
.n3 a:hover{
    color: #F9C745;
}
.n4 a:hover{
    color: #F9C745;
}
.n5:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
.n1{
    position: absolute;
    top: 34px;
    left: 786px;
    width: 32px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n1 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n2{
    position: absolute;
    top: 34px;
    left: 866px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n2 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n3{
    position: absolute;
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n3 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n4{
    position: absolute;
    top: 34px;
    left: 1090px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n4 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n5{
    position: absolute;
    top: 26px;
    left: 1204px;
    width: 176px;
    height: 38px;
    border: 0px;
    text-decoration: none;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}
.n5 a{
    position: relative;
    top: 10px;
    left: 0px;
    width: 80px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.first img{
    position: absolute;
    top: 128px;
    left: 595px;
    width: 250px;
    height: 134px;
    background: transparent url('img/title02.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.s1{
    position: absolute;
    top: 306px;
    left: 60px;
    width: 872px;
    height: 928px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000001A;
    border-radius: 12px;
    opacity: 1;
}
.s2{
    position: absolute;
    top: 302px;
    left: 956px;
    width: 424px;
    height: 747px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
    opacity: 1;
}
.a1{
    position: absolute;
    top: 60px;
    left: 30px;
    width: 144px;
    height: 34px;
    text-align: center;
    font: normal normal bold 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a2{
    position: absolute;
    top: 149px;
    left: 32px;
    width: 96px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a3{
    position: absolute;
    top: 149px;
    left: 336px;
    width: 144px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a4{
    position: absolute;
    top: 255px;
    left: 32px;
    width: 808px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
.s1 img{
    position: absolute;
    top: 383px;
    left: 32px;
    width: 808px;
    height: 539px;
    background: transparent url('img/dog03.png') 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}
.s2 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 424px;
    height: 424px;
    background: transparent url('img/08.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.a5{
    position: absolute;
    top: 450px;
    left: 0px;
    width: 48px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a6{
    position: absolute;
    top: 478px;
    left: 0px;
    width: 128px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a7{
    position: absolute;
    top: 518px;
    left: 0px;
    width: 32px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a8{
    position: absolute;
    top: 546px;
    left: 0px;
    width: 78px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a9{
    position: absolute;
    top: 586px;
    left: 0px;
    width: 32px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.a10{
    position: absolute;
    top: 614px;
    left: 0px;
    width: 203px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
}
.go{
    position: absolute;
    top: 642px;
    left: 0px;
    width: 376px;
    height: 51px;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 24px;
    border: 0px;
    opacity: 1;
}
.footer hr{
    position: absolute;
    top: 1334px;
    left: 0.5px;
    width: 1440px;
    height: 0px;
    border: 3px solid #F9C745;
    opacity: 1;
}
.link01{
    position: absolute;
    top: 1382px;
    left: 232px;
    width: 200px;
    height: 127px;
    background: transparent url('img/link01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-1{
    position: absolute;
    top: 1389px;
    left: 456px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-2{
    position: absolute;
    top: 1427px;
    left: 456px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.contact{
    position: absolute;
    top: 1463px;
    left: 456px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.contact:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.link02{
    position: absolute;
    top: 1393px;
    left: 744px;
    width: 200px;
    height: 105px;
    background: transparent url('img/link02.png') 0% 0% no-repeat padding-box;
    border-radius: 53px;
    opacity: 1;
}
.footer-3{
    position: absolute;
    top: 1389px;
    left: 968px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-4{
    position: absolute;
    top: 1427px;
    left: 968px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.feed{
    position: absolute;
    top: 1465px;
    left: 968px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.feed:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.footer span{
    position: absolute;
    top: 1559px;
    left: -2px;
    width: 1444px;
    height: 70px;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer span a{
    position: relative;
    top: 25px;
    left: 590px;
    width: 328px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}