.nav{
    float:right;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.navbar{
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 88px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.navbar img{
    position: absolute;
    top: 24px;
    left: 62px;
    width: 119px;
    height: 40px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-link{
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n1 a:hover{
    color: #F9C745;
}
.n2 a:hover{
    color: #F9C745;
}
.n3 a:hover{
    color: #F9C745;
}
.n4 a:hover{
    color: #F9C745;
}
.n5:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
.n1{
    position: absolute;
    top: 34px;
    left: 786px;
    width: 32px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1;
}
.n1 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n2{
    position: absolute;
    top: 34px;
    left: 866px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n2 a{
    list-style: none;
    text-decoration: none;
    color: #F9C745;
}
.n3{
    position: absolute;
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n3 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n4{
    position: absolute;
    top: 34px;
    left: 1090px;
    width: 64px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.n4 a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
}
.n5{
    position: absolute;
    top: 26px;
    left: 1204px;
    width: 176px;
    height: 38px;
    border: 0px;
    text-decoration: none;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}
.n5 a{
    position: relative;
    top: 10px;
    left: 0px;
    width: 80px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.first img{
    position: absolute;
    top: 88px;
    left: 0px;
    width: 1440px;
    height: 288px;
    background: transparent url('img/banner.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.step1 img{
    position: absolute;
    top: 456px;
    left: 124px;
    width: 203px;
    height: 200px;
    /* UI Properties */
    background: transparent url('img/step01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.s1_1{
    position: absolute;
    top: 672px;
    left: 201px;
    width: 50px;
    height: 32px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1;  
}
.s1_2{
    position: absolute;
    top: 706px;
    left: 156px;
    width: 140px;
    height: 28px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.s1_3{
    position: absolute;
    top: 751px;
    left: 170px;
    width: 112px;
    height: 44px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;  
}
.step2 img{
    position: absolute;
    top: 456px;
    left: 453px;
    width: 203px;
    height: 200px;
    background: transparent url('img/step02.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.s2_1{
    position: absolute;
    top: 672px;
    left: 527px;
    width: 56px;
    height: 32px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1
}
.s2_2{
    position: absolute;
    top: 706px;
    left: 505px;
    width: 100px;
    height: 28px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.s2_3{
    position: absolute;
    top: 751px;
    left: 491px;
    width: 128px;
    height: 44px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.step3 img{
    position: absolute;
    top: 456px;
    left: 782px;
    width: 203px;
    height: 200px;
    background: transparent url('img/step04.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.s3_1{
    position: absolute;
    top: 672px;
    left: 857px;
    width: 54px;
    height: 32px;
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1;
}
.s3_2{
    position: absolute;
    top: 706px;
    left: 844px;
    width: 80px;
    height: 28px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.s3_3{
    position: absolute;
    top: 751px;
    left: 796px;
    width: 176px;
    height: 38px;
    text-align: center;
    font: normal normal normal 16px/19px 07LogoTypeGothic7;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.step4 img{
    position: absolute;
    top: 456px;
    left: 1111px;
    width: 203px;
    height: 200px;
    background: transparent url('img/step03.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.s4_1{
    position: absolute;
    top: 672px;
    left: 1186px;
    width: 54px;
    height: 32px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/32px Kalam;
    letter-spacing: 0px;
    color: #F9C745;
    opacity: 1;
}
.s4_2{
    position: absolute;
    top: 706px;
    left: 1173px;
    width: 80px;
    height: 28px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.s4_3{
    position: absolute;
    top: 754px;
    left: 1104px;
    width: 218px;
    height: 35px;
    text-align: center;
    font: normal normal normal 16px/19px 07LogoTypeGothic7;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.footer hr{
    position: absolute;
    top: 877px;
    left: 0.5px;
    width: 1440px;
    height: 0px;
    border: 3px solid #F9C745;
    opacity: 1;
}
.link01{
    position: absolute;
    top: 925px;
    left: 232px;
    width: 200px;
    height: 127px;
    background: transparent url('img/link01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-1{
    position: absolute;
    top: 932px;
    left: 456px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-2{
    position: absolute;
    top: 970px;
    left: 456px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.contact{
    position: absolute;
    top: 1006px;
    left: 456px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.contact:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.link02{
    position: absolute;
    top: 936px;
    left: 744px;
    width: 200px;
    height: 105px;
    background: transparent url('img/link02.png') 0% 0% no-repeat padding-box;
    border-radius: 53px;
    opacity: 1;
}
.footer-3{
    position: absolute;
    top: 932px;
    left: 968px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer-4{
    position: absolute;
    top: 970px;
    left: 968px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.feed{
    position: absolute;
    top: 1008px;
    left: 968px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.feed:hover{
    border: 0px;
    background: #F9C745 0% 0% no-repeat padding-box;
}
.footer span{
    position: absolute;
    top: 1102px;
    left: -2px;
    width: 1444px;
    height: 70px;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer span a{
    position: relative;
    top: 25px;
    left: 590px;
    width: 328px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}